Flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
Jinja2
Mako
MarkupSafe
SQLAlchemy
WTForms
Werkzeug
alembic
coverage
gunicorn
itsdangerous
psycopg2-binary
py-bcrypt
